# Dataset folders
memes900k/
images/
models/

# Large text files containing captions/templates
# captions_test.txt
# captions_train.txt
# captions_val.txt
# captions.txt
# templates.txt

# Model files
models/final_model_2
models/runs
models/finetuned_BERT2_epoch_5.model
# generated_memes/

# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python